<h1 class="text-center">Blocmark Topics</h1>
<% if current_user %>
<%= link_to "New Topic", new_topic_path, class: 'btn btn-success btn-xs' %>

<% end %>
    <% @topics.each do |topic| %>
      <div class="panel panel-default">
        <div class="panel-body">
          <%= link_to topic.title, topic %></br>
          <%= link_to "Delete Topic", topic, method: :delete, class: 'btn btn-danger btn-xs', data: { confirm: 'Are you sure you want to delete this topic?' } %>
        </div>
      <% end %>
    </div>
 </div>
