<h1 class="text-center">Welcome to Blocmarks</h1></br>

<p>Blocmarks is a social bookmarking site that allows you to email, manage and share bookmarked URL's</p>
<div class="col-md-4">
    <%= link_to "New Topic", new_topic_path, class: 'btn btn-success' %>
</div>
