// Place all the styles related to the Topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
col-sm-2 {
   padding-left: 15px;
   padding-right: 15px;
 }
 .bookmark .btn {
   margin: 10px 0;
 }
